* {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI","Microsoft YaHei",tohoma,Arial;
}
.clear-fix:before,
.clear-fix:after {
    display: table;
    content: "";
}
.clear-fix {
    *zoom: 1;
}
a {
    text-decoration: none;
    color: #333;
}
.mt {
    max-width: 1280px;
    margin: 0 auto;
}
/*这里是加载动画*/
body {
    height: 100%;
}
.load-wrapper {
    width: 100%;
    height: 100%;
    background-color: #1a5669;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


/*加载动画结束*/
/*列表样式|字体颜色*/
.list01 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #64d0eb;
    display: block;
    margin-right: 6px;
    transform: translateY(-2px);
}
.list03 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #33ca6b;
    display: block;
    margin-right: 6px;
    transform: translateY(-2px);
}
.list02 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fe5736;
    display: block;
    margin-right: 6px;
    transform: translateY(-2px);
}
.corlor01 {
    color: #64d0eb;
}
.corlor02 {
    color: #33ca6b;
}
.corlor03 {
    color: #fe5736;
}
.bg01 {
    background-color: #f9f9f9;
    overflow: hidden;
}
.bg02 {
    background-color: #edf1f5;
    overflow: hidden;
}
.bgcode {
    background-color: #edf1f5;
}
.displayNone {
    display: none;
}
.displayBlock {
    display: block;
    transform: translateY(-8px);
    transition: .6s ease;
}
/*列表样式结束*/
/*以上是通用的设置*/
nav {
    width: 100%;
    background-color: #404040;
    height: 72px;
}
.logo {
    padding-top: 11px;
    margin-right: 55px;
    float: left;
}
.logo li:first-child {
     font-size: 22px;
     font-weight: 700;
     color: #2694b0;
     line-height: 32px;
 }
.logo li:last-child {
    font-size: 9px;
    color: #a7e7f7;
}
.top-nav li {
    float: left;
    padding: 0 15px;
    height: 72px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top-nav li a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    line-height: 72px;
}
.topIcons {
    background-repeat: no-repeat;
    height: 16px;
    width: 22px;
    margin-top: 29px;
    float: left;
    margin-right: 4px;
}
.i01 {
    margin-right: 10px;
}
.i02 {
    margin-right: 8px;
}
.top-nav li:hover a{
    color: #64d0eb;
}
.top-nav li:hover {
    border-bottom: 2px solid #64d0eb;
    box-sizing: border-box;
}
.r-function {
    float: right;
    line-height: 72px;
    position: relative;
}
.r-function input {
    width: 128px;
    height: 24px;
    color: #999;
    border-radius: 12px;
    padding-left: 20px;
    border-style: none;
    outline-style: none;
}
.r-function span {
    background: url("../img/tubiao-search.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 30px;
    left: 100px;
}
.enter {
    color: #fff;
    width: 78px;
    height: 80px;
    margin-left: 30px;
    display: inline-block;
    background-color: #2694b0;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 5;
    position: relative;
}
.enter:hover {
    cursor: pointer;
    background-color: #64d0eb;
    transition: 0.3s;
    box-shadow: 0 1px 6px 3px rgba(0,0,0,.1);
}
.hover {
    background-color: #636363;
    color: #64d0eb;
    border-bottom: 2px solid #64d0eb;
    box-sizing: border-box;
}
.hover01 {
     background-image: url("../img/nav-h-1.png")!important;
 }
.hover02 {
    background-image: url("../img/nav-h-2.png")!important;
}
.hover03 {
    background-image: url("../img/nav-h-3.png")!important;
}
.hover04 {
    background-image: url("../img/nav-h-4.png")!important;
}
.page-tittle {
    line-height: 200px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-left: calc(50% - 95px);
    text-shadow: 1px 2px 6px rgba(0,0,0,.8);
}
.list-01 {
    width: 10px;
    height: 10px;
    background-color: #64d0eb;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    transform: translateY(2px);
}
.list-02 {
    width: 10px;
    height: 10px;
    background-color: #33ca6b;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    transform: translateY(2px);
}
.list-03 {
    width: 10px;
    height: 10px;
    background-color: #fe5736;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    transform: translateY(3px);
}
.foot-01 {
    background-color: rgb(127,127,127);
}
.word {
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
footer {
    background-color: #404040;
}
.note {
    text-align: center;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
}
.lastword {
    text-align: center;
    color: #999;
    line-height: 12px;
    font-size: 12px;
    padding-bottom: 16px;
}



/*上面是导航栏部分*/
.mianbaoxie {
    width: 36px;
    height: 28px;
    position: fixed;
    top: 12px;
    right: 20px;
    z-index: 3;
    padding-top: 8px;
    overflow: hidden;
    display: none;
}
.mianbaoxie span {
    width: 20px;
    height: 0;
    margin-left: 8px;
    display: block;
    border-bottom: 2px solid #2694b0;
    margin-top: 5px;
    transition: 0.2s;
    cursor: pointer;
    animation: linear;
}
.ani01 {
    transform-origin: bottom right;
    transform: rotate(-45deg);
}
.ani02 {
    transform-origin: bottom right;
    transform: rotate(45deg);
}
.ani03 {
    border-bottom: 2px solid #2694b0;
}



/*响应式*/
@media (max-width: 1080px) {
    .say {
        display: none;
    }
    nav {
        overflow: hidden;
        height: 100%;
    }
    .logo {
        clear: left;
        text-align: center;
        width: 100%;
    }
    .top-nav {
        clear: left;
        width: 100%;
        padding: 0 calc((100% - 470px)/2) 1px;
        overflow: hidden;
    }
    .top-nav li:hover {
        border: none;
    }
    .top-nav li {
        background-color: #404040;
        border: none;
        margin-top: 10px;
    }
    .top-nav div {
        display: none;
    }
    .r-function {
        display: none;
    }
}
@media (max-width: 1080px) {
    .mianbaoxie {
        display: block;
    }
    .note {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
    .lastword {
        display: none;
    }
}
@media (max-width: 500px) {
    .top-nav li a {
        font-size: 14px;
        width: 100%;
    }

    .top-nav {
        padding: 0 10px 1px;
    }

    .top-nav li {
        padding: 0 calc((100% - 305px) / 10);
    }
}

@media (max-width: 430px) {
    .top-nav li a {
        font-size: 14px;
    }
    .top-nav li{
        padding: 0 calc((100% - 305px)/10);
    }

}