/*banner背景的设置*/
.page-T1 {
    width: 100%;
    background: url("../img/diwen1.jpg") no-repeat #f9f9f9 top center;
}
.page-T2 {
    width: 100%;
    background: url("../img/diwen2.jpg") no-repeat #f9f9f9 top center;
}
.page-T3 {
    width: 100%;
    background: url("../img/diwen3.jpg") no-repeat #f9f9f9 top center;
}
@media (max-width: 550px) {
    .page-T2 {
        background: url("../img/diwen2-s.jpg") no-repeat #f9f9f9 top center;
    }
}
/*上面是banner背景设置*/

/*大Tab栏的样式*/
.put-on {
    background-color: #64d0eb;
    color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    line-height: 52px;
    position: relative;
    animation: ease;
    transform: translateY(-10px);
    transition: .4s;
    box-shadow: 0 -1px 3px 1px rgba(84, 163, 190, 0.5);
}
.headline {
    width: 100%;
}
.bgbk {
    overflow: visible;
    background-color: rgba(240, 223, 74, 0.1);
    background-size: 100%;
}
.article-btn {
    line-height: 42px;
    font-size: 14px;
    color: #333;
    width: 100%;
    text-align: center;
    display: block;
}
.article-btn li {
    float: left;
    width: 140px;
    box-sizing: border-box;
}
.article-btn li:hover {
    background-color: #64d0eb;
    color: #ffffff;
    cursor: pointer;
}
.text {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    transform: translateY(8px);
}
.text li div {
    width: calc(25% - 40px);
    height: 56px;
    float: left;
    padding: 20px;
}
.text li div:hover {
    background-color: #fff;
    transition: .5s;
}
.text li div a {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: 700;

}
.text li div a:hover {
    color: #2694b0;
    text-decoration: underline;
    transition: .5s;
}
.text li div span {
    display: block;
    line-height: 16px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #666;
    font-size: 12px;
}
/*这里是笔记成册的样式部分*/
.deep {
    background-color: #0c3440;
    overflow: hidden;
}
.title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0;
    display: inline-block;
}
.wid {
    overflow: hidden;
    position: relative;
    padding: 0 100px;
}
.books {
    width: 1000%;
    height: 230px;
    float: left;
}
.books li {
    width: 120px;
    height: 200px;
    float: left;
    overflow: visible;
    margin-right: 30px;
    margin-bottom: 30px;

}
.books li:last-child {
    margin: 0;
}
.books li:hover {
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
}
.books li:hover a {
    color: #64d0eb;
}
.books li span {
    width: 120px;
    height: 160px;
    background-size: 120px;
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
}
.img01{
    background: url("../img/book/book1.jpg");
}
.img02{
    background: url("../img/book/book2.jpg");
}
.img03{
    background: url("../img/book/book3.jpg");
}
.img04{
    background: url("../img/book/book4.jpg");
}
.img05{
    background: url("../img/book/book5.jpg");
}
.books li a {
    line-height: 30px;
    font-size: 12px;
    color: #d7d7d7;
    text-align: center;
    display: block;
}
#arr {
    display: none;
}
#f-l {
    width: 0;
    height: 0;
    margin: 0;
    border-width: 28px;
    border-style: solid;
    border-color: transparent rgba(255,255,255,0.9) transparent transparent;
    position: absolute;
    top: calc(50% - 38px);
    left: 0;
}
#f-r {
    width: 0;
    height: 0;
    margin: 0;
    border-width: 28px;
    border-style: solid;
    border-color: transparent  transparent  transparent rgba(255,255,255,0.9);
    position: absolute;
    top: calc(50% - 38px);
    right: 0;
}
#f-l:hover {
    transform: translateY(0);
}
#f-r:hover {
    transform: translateY(0);
}
/*这里是书的详情介绍*/
.bookintro {
    overflow: hidden;
    display: none;
}
.disblock {
    display: block;
}
.types {
    margin-top: 60px;
    height: 360px;
    overflow: hidden;
    max-width: 500px;
    /*border-right: #c2c2c2 1px solid;*/
    padding-right: 40px;
}
.num {
    float: left;
    margin: 10px 0;
    color: #999;
    width: 100%;
}
.bookimg {
    width: 240px;
    height: 360px;
    margin: 60px 120px 80px 0;
    float: left;
    overflow: hidden;
    box-shadow: 0 3px 3px #999;
}
.booktitle {
    width: 100%;
    font-size: 30px;
    float: left;
    font-weight: 700;
    margin-top: 10px;
}
.booktitle:hover {
    color: #fe5736;
    text-decoration: underline;
    transition: .3s;
}
.writer {
    margin: 10px 0;
    float: left;
    width: 100%;
    color: #666666;
}
.writer a {
    color: #fe5736;
    display: inline-block;
}
.introcont {
    margin-top: 40px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    line-height: 24px;
    text-align: justify;
    color: #666666;
}
.pass {
    height: 28px;
    /*border: 1px dashed #fe5736;*/
    display: inline-block;
    line-height: 28px;
    border-radius: 14px;
    margin: 10px 0;
    cursor: pointer;
    color: #999999;
}
.passha {
    visibility: hidden;
    display: inline-block;
    height: 28px;
    /*border: 1px dashed #fe5736;*/
    line-height: 28px;
    margin: 10px 0;
    color: #999;
}
.readbtn {
    height: 40px;
    background-color: #fe5736;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    margin: 10px 0;
}
.readbtn:hover {
    background-color: #ff7631;
    transition: .3s;
}
.tgs {
    margin-top: 10px;
}
.tgs span {
    margin-right: 10px;
    font-size: 12px;
}

/*后面是统一地响应样式*/
@media (max-width: 1080px) {
    .text li div {
        width: calc(33.3% - 40px);
        height: 56px;
        float: left;
        padding: 20px;
    }
    .page-tittle {
        margin: 0;
        text-align: center;
    }
    .wid {
        padding: 0 20px;
    }
    .bookintro {
        margin-left: 20px;
    }
}
@media (max-width: 880px) {
    .types {
        margin-bottom: 40px;
        overflow: hidden;
        height: 100%;
    }
    .bookimg {
        float: left;
        margin-bottom: 20px;
    }
    .introcont {
        width: calc(100% - 20px);
        padding-right: 20px;
        display: inline-block;
    }
}
@media (max-width: 820px) {
    .text li div {
        width: calc(50% - 40px);
        height: 56px;
        float: left;
        padding: 20px;
    }
}
@media (max-width: 550px) {
    .article-btn li {
        float: left;
        width: 25%;
    }
    .text li div {
        width: calc(100% - 40px);
        height: 56px;
        float: left;
        padding: 20px;
    }
    .text li div {
        border-bottom: 0.5px solid #cccdcd;
    }
    #clearhi {
        clear: left;
    }
}