.say {
    width: 100%;
    height: 66px;
    background-color: #f9f9f9;
    padding-top: 30px;
}
#notice {
    display: block;
    color: #333;
    line-height: 39px;
    padding-left: 20px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    position: relative;
    white-space: nowrap;
}
.notice-fix {
    position: absolute;
    line-height: 14px;
    top: 12px;
    right: 38px;
    color: #33ca6b;
    font-weight: 700;
    cursor: pointer;
    display: none;
}
.notice-fix p {
    background: url("../img/tubiao-shezhi.png") no-repeat;
    width: 14px;
    height: 12px;
    display: block;
    float: right;
    margin-top: 1px;
    margin-left: 6px;
}
/*上面是公告的样式*/
.aside-nav {
    background-color: #404040;
    width: 177px;
    height: 301px;
    border-radius: 4px;
    color: #fff;
    padding-top: 12px;
    position: fixed;
    top: 200px;
}
.fixed {
    position: fixed;
}
.title-asideNav span:first-child {
    margin-left: 20px;
    font-size: 16px;
    line-height: 16px;
}
.aside-nav li a{
    color: #fff;
    width: 100%;
    padding-left: 50px;
    line-height: 26px;

}
.aside-nav li:hover {
    background-color: #737373;
}
.aside-nav li:hover a {
    color: #64d0eb;
}
.aside-nav li:first-child:hover{
    background-color: #404040;
}
.title-decration1 {
    width: 2px;
    height: 16px;
    background-color: #64d0eb;
    display: block;
    float: right;
}
.title-decration2 {
    width: 40px;
    height: 2px;
    background-color: #64d0eb;
    margin: 5px 0 24px 44px;
    display: block;
}
.aside-nav li:last-child {
    position: relative;
}
.mac-before {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fe5736;
    display: block;
    position: absolute;
    right: 12px;
    bottom: -8px;
}
.mac-after {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #33ca6b;
    display: block;
    position: absolute;
    right: 20px;
    bottom: -8px;
}
.mac {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #64d0eb;
    display: block;
    position: absolute;
    right: 28px;
    bottom: -8px;
}
/*以上是侧边栏的样式*/


/*注意这个是主要内容的样式，限定框作用*/
.main {
    max-width: 1035px;
    margin-left: 245px;
}
/*限定框作用到这里结束，可能代码复用↑*/

.oftenUse{
    background-color: #edf1f5;
    overflow: hidden;
    padding-bottom: 20px;
}
.title {
    font-size: 22px;
    font-weight: 700;
    color: #333;
    margin: 30px 40px;
    display: inline-block;
}
#oftenUse li {
    width: calc(615px / 7);
    /*background-color: #fff;*/
    /*border-radius: 4px;*/
    float: left;
    margin-left: 20px;
    padding: 10px 20px 16px;
}
#oftenUse li:hover {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 3px rgba(100,208,235,.18);
    transition: 0.2s;
}
#oftenUse li a {
    float: left;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    margin-top: 6px;
}
#oftenUse li a:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    transition: 0.3s;
}
.img {
    display: block;
    width: 88px;
    height: 32px;
    background-repeat: no-repeat;
    /*background-image: url("../img/net-logo/net-01.png");*/
}
.img:hover {
    transform: scale(1.1);
    filter: brightness(111%);
    transition: 0.3s;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.05);
}


#oftenUse li span {
    color: #999;
    margin-top: 6px;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
}
/*以上是常用网站的样式====这里结束了*/

.trueNav li {
    width: calc(675px / 6);
    /*background-color: #fff;*/
    /*border-radius: 4px;*/
    float: left;
    margin-left: 20px;
    padding: 10px 20px 16px;
    margin-bottom: 20px;
}
.trueNav li:hover {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 3px rgba(100,208,235,.18);
    transition: 0.2s;
}
.trueNav li a {
    float: left;
    font-weight: 700;
    width: 100%;
    line-height: 14px;
    margin-top: 8px;
}
.trueNav li a:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    transition: 0.3s;
}
.trueNav li span {
    color: #999;
    margin-top: 10px;
    display: inline-block;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
}
#footHref {
    display: block;
    margin-top: -4px;
}
#footHref a {
    font-size: 12px;
    color: #fe5736;
    line-height: 12px;
    font-weight: 300;
    width: 48px;
    display: block;
}
#footHref a:first-child {
    margin-right: 1px;
}
#footHref a:hover {
    color: #fe5736;
    font-weight: 400;
}
.none {
    max-width: 1px;
    height: 12px;
    border: 0.5px dashed #fe5736;
    box-sizing: border-box;
    display: block;
    margin: 0 6px 0;
}
#clear {
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0
}
.article-btn {
    margin-left: 40px;
}
.put-on {
    background-color: #64d0eb!important;
    color: #fff;
}
.article-btn li {
    float: left;
    width: 100px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: #cbcbcb;
    margin-bottom: 20px;
    cursor: pointer;
}
.article-btn li:hover {
    background-color: #64d0eb;
    color: #fff;
}

.text {
    clear: left;
    margin-left: 40px;
    margin-top: 20px;
}
.text li{
    min-height: 100px;
    overflow: hidden;
}
.text li div {
    margin-bottom: 20px;
}
.text li div a:hover {
    color: #2694b0;
}
.location {
    position: relative;
}
.computer {
    background: url("../img/computer.png") no-repeat;
    width: 248px;
    height: 126px;
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: 3;
}
@media (max-width: 1280px) {
    #for-none {
        display: none;
    }
    #clear {
        display: none;
    }
}
@media (max-width: 1080px) {
    .mianbaoxie {
        display: block;
    }
    .aside-nav {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: 66px;
        z-index: 3;
        display: none;
    }
    .aside-nav li {
        padding-left: calc(50% - 100px) ;
    /*width:;*/
    }
    .aside-nav li a{
        color: #333333;
        font-size: 26px;
        line-height: 60px;
        width: 100%;
        text-align: right;
    }
    .aside-nav li:hover {
        background-color: #fff;
    }
    .ii span {
        display: none;
    }
    .title-asideNav {
        display: none;
    }
    /*主要的部分*/
    .main {
        margin-left: 0px;
        width: 100%  ;
    }
    .text li div a {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: calc(100% - 60px);
        overflow: hidden;
    }
    .trueNav li span {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        overflow: hidden;
        padding-top: 8px;
    }
    #footHref {
        padding-top: 0px;
        margin-bottom: 4px;
    }
}
@media (max-width: 660px) {
    .trueNav li {
        margin-left: 20px;
    }
    #oftenUse li {
        margin-left: 20px;
    }
    .title {
         margin-left: 20px;
     }
    .article-btn {
        margin-left: 20px;
    }
    .text {
        margin-left: 20px;
    }
    .computer {
        display: none;
    }
}
@media (max-width: 500px) {
    #oftenUse li {
        margin-left: 0;
        margin-right: calc((100% - 423.55px)/3);
    }
}
